$('#today-posts-table').prepend(
  '<%= j render @post%>'
)
var cnt = Number($('span#today-posts-count').text()) + 1;
$('span#today-posts-count').html(cnt);
$('#post_content').val('');
$('span.tag').remove();
$('span#input-length').text('0');
// flashメッセージを出力し、3秒で消す
<%flash.each do |message_type, message|%>
  $('#flash-message').html('<div class="alert alert-<%=message_type%>"><%=message%></div>');
<%end%>
$('.alert').delay(2500).fadeOut(500);
