<footer class="footer">
  <small>
    MONOLOGUE By <a href="https://github.com/us-key/">us-key</a>
    <span>|</span>
    <a href="https://github.com/us-key/monologue/">GitHub</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
