<footer class="footer">
  <small>
    MONOLOGUE By <a href="https://github.com/us-key/">us-key</a>
    <span>|</span>
    <a href="https://github.com/us-key/monologue/">GitHub</a>
  </small>
</footer>
